/* QWidget (Dark Mode) */

QWidget {
    font-size: 14px;
    font-weight: 600;
    color: #F2E9FF;
}

QMainWindow {
    background-color: #3D315B;
}

/* QPushButton (Dark Mode) */
QAbstractButton {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #7A71E7, stop:1 #5A4EA6); /* Gradient for regular state */
    border: 2px solid #5A4EA6; /* Border color for regular state */
    border-radius: 5px;
    padding: 8px 16px;
    color: white; /* Text color for regular state */
}

QAbstractButton:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #5A4EA6, stop:1 #7A71E7); /* Gradient for hover state */
}

QAbstractButton:pressed {
    background-color: #3D315B; /* Background color for pressed state */
    border: 2px solid #7A71E7; /* Border color for pressed state */
    color: white; /* Text color for pressed state */
}

QComboBox {
    border: 2px solid #F2E9FF; /* Border color */
    border-radius: 5px;
    padding: 4px 8px;
    color: #F2E9FF; /* Dark text color */
    background-color: transparent;
}

QComboBox QAbstractItemView {
    background-color: #3D315B; /* Light background color */
    border: 1px solid #7A71E7; /* Border color */
    border-radius: 5px; /* Rounded corners */
    selection-background-color: #7A71E7;
    color: #F2E9FF;
}

QLineEdit {
    background-color: transparent; /* Background color */
    border: 2px solid #F2E9FF; /* Border color */
    border-radius: 20px;
    padding: 4px 8px;
}

QTextEdit {
    background-color: transparent;
    border: none;
    font-size: 22px;
}

QMenu {
    background-color: #3D315B; /* Dark background color */
    border: 1px solid #7A71E7; /* Border color */
    border-radius: 5px; /* Rounded corners */
    color: #F2E9FF;
}

QMenu::item {
    padding: 4px 20px; /* Padding for menu items */
    background-color: transparent; /* Transparent background for items */
}

QMenu::item:selected {
    background-color: #5A4EA6; /* Background color for selected item */
}

QMenu::item:disabled {
    color: #A095C7; /* Color for disabled items */
    background-color: transparent; /* Transparent background for disabled items */
}

QToolButton {
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #F2E9FF;
}

QToolButton:hover, QToolButton:pressed {
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #F2E9FF;
}

QCalendarWidget QAbstractItemView
{
    background-color: #3D315B;
    selection-background-color: #3D315B; /* the color of the selected cell */
    selection-color: #F2E9FF; /* the color of the selected cell's text */
    gridline-color: #F2E9FF;
}

/* header row */
QCalendarWidget QWidget {
    alternate-background-color: #3D315B;
}

/* navigation bar */
QCalendarWidget QWidget#qt_calendar_navigationbar
{
    background-color: #3D315B;
}

SidePanel {
    background-color: #4D426A;
}

QScrollArea {
    background: transparent;
    border: none;
}

EventListWidget {
    background: #3D315B;
}



